body{font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2em;
    background-image: url(space.jpg);
    background-color: #040914;
    background-blend-mode: lighten;}

header {padding: 20%;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;}

nav{color: blue;
    text-align: center;
    background-color: #040914;
    padding: 1em;}
nav a{text-decoration: none;}
nav a:hover{text-decoration: underline;}
nav a:visited{color: blueviolet;}

main{padding: 2em;}
main p a{text-decoration: none;
    color: #040914;}
main p a:hover {text-decoration: underline;}

footer{font-size: small;
    font-style: italic;}

iframe{align-self: center;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    display: block;
    margin-left: 1em;
    margin-right: 1em;}

.banner {background-image: url(Darth_Revan.jpg) ;
    color: white;
    text-shadow: blue;
    text-align: center;
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: #040914;}

section {border-radius: 8px;
    background-color: white;
    padding: 1em;}
main section p{padding: 2em;}
main section img{width: 8%;
    height: 8%;
    vertical-align:middle;}
@media only all and (max-width: 450px) {
    main section img{display: none;}
    }
section a{text-decoration: none;}
section a:hover{text-decoration: underline;}
section a:visited{color: blueviolet;}
.alignalready{text-align: center;}


