body{font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2em;
    background-color: honeydew;}

header {padding: 10%;
    font-size: x-large;}

nav{color: blue;
    text-align: center;
    background-color: darkslateblue;
    text-decoration: none;
    padding-left: 1em;
    padding-right: 1em;}
nav a:hover{text-decoration: underline;}
nav a:visited{color: blueviolet;}

footer{font-size: small;
    font-style: italic;
    color: white;}

.banner {background-image: url(Darth_Revan.webp);
    color: white;
    text-shadow: 50% blue;
    text-align: center;
    background-size:50% 50%;
    background-repeat: no-repeat;}

.dropdown{position: absolute;}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1;}

button{align-items: center;
    border: none;
    background-color: currentColor;}