body{font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2em;
    background-color: honeydew;}

header {padding: 20%;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;}

nav{color: blue;
    text-align: center;
    background-color: rgb(36, 28, 90);
    padding-top: 1em;
    padding-bottom: 1em;}
nav a{text-decoration: none;}
nav a:hover{text-decoration: underline;}
nav a:visited{color: blueviolet;}

main{padding: 2em;}
main p a{text-decoration: none;
    color: black;}
main p a:hover {text-decoration: underline;}

footer{font-size: small;
    font-style: italic;}

iframe{align-self: center;
    border-radius: 8px;}

.banner {background-image: url(Darth_Revan.jpg) ;
    color: white;
    text-shadow: blue;
    text-align: center;
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: rgb(36, 28, 90);}

.dropdown{position: absolute;
    align-self: center;}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: honeydew;
    z-index: 1;
    color: aqua;}
.dropdown-content{text-decoration: none;}
.dropdown .dropdown-content a:hover{text-decoration: underline;}
.dropdown:hover .dropdown-content {
    display: block;}
button{align-items: center;
    border: none;
    background-color: honeydew;}

